// $viajes-comfenalco-1: #00B6BD;
// $viajes-comfenalco-2: #039191;

$agencia-de-empleo-1: #BE1818;
$agencia-de-empleo-2: #891515;

$educacion-1: #0391E0;
$educacion-2: #0071BB;

$proteccion-social-1: #F36F21;
$proteccion-social-2: #E84E1B;

$cultura-1: #92278F;
$cultura-2: #681D68;

*,
*:after,
*:before {
	box-sizing: inherit;
}
body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #3c3c3b;
}

strong{
    font-weight: 700;
}

.box-default{
    position: relative;
    max-width: 100%;
    display: block;
}

.text-figcaption {
    font-size: 12px;
    margin-top: 4px;
    padding: 4px 4px !important;
}

.link-hover{
    color: #014c8c;
    text-decoration: underline;
    outline-width: 0;
}

.collapse-down{
    .card{
        border:0;
        border-bottom: 1px solid rgba(0,0,0,.125);
        .card-header{
            background-color: transparent;
            a{
                color: #0F2E5B !important;    
            }
        }
    }
}

/* fix responsive images bootstrap 4 */
.carousel-fade .carousel-item {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 2000ms ease;
}
.carousel-fade .carousel-item.active {
  opacity: 1;
}

/* Fixed height, can be dynamic using JS */
// .carousel-fade .carousel-inner,
// .carousel-fade .carousel-item {
//     max-width: 100%;
//     height: auto;
// }
/* end effect */

/* event effect */
.item-content{
    .item-effect{
        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &:hover .item-effect {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}


/* end event */

.bg-white{
    background-color: #FFF;
}

.bg-red{
    background-color: #be1818;
}
.bg-red-2{
    background-color: #e00717;
}

.bg-red-3{
    background-color: #BD1622;
}

.bg-blue{
    background-color: #14438E;
}

.bg-gray{
    background-color: #3c3c3b;
}

.bg-gray-2{
    background-color: #F5F5F5;
}

.bg-gray-3{
    background-color: #ECECEC;
}

.bg-blue-2{
    background-color: #085ba4;
}

.bg-blue-3{
    background-color: #2357A3;
}

.bg-blue-4{
    background-color: #36A8E0;
}

.bg-blue-5{
    background-color: #1B5EAF;
}

.bg-blue-6{
    background-color: #5DA9DD;
}

.bg-blue-7{
    background-color: #0097BA;
}

.bg-blue-8{
    background-color: #00B6BD;
}

.bg-orange{
    background-color: #F29100;
}

.bg-orange-2{
    background-color: #E84E1B;
}

.bg-green{
    background-color: #3AA935;
}

.bg-green-2{
    background-color: #94C01F;
}

.bg-purple{
    background-color: #662482;
}

.text-purple{
    color: #92278F;
}

.bg-fucsia{
    background-color: #A2195B;
}

.b-yellow{
    background-color: #FFCB05;
}

.bg-yellow-2{
    background-color: #F8B133;
}

.bg-marron{
    background-color: #B75D0B;
}

.text-yellow{
    color: #F8B133;
}

.text-marron{
    color: #8F4A02;
}

.text-blue{
    color: #14438e;
}

.text-blue-2{
    color: #0071BB;
}

.text-red{
    color: #be1818;
}

.text-ley{
    line-height: 1.2;
}

.text-orange{
    color: #E84E1B;
}

.text-green{
    color: #94C01F;
}

.footer-gray{
    padding: 15px 20px;
    min-height: 320px;
}
.rounded{
    border-radius: .5rem;
}
.no-rounded-1110{
    border-radius: normal;
}

a.map-style{
    display: block;
    position: relative;
    width: 100%;
    transition: all 128s ease;
}
.map-style-blue{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(8, 91, 164, 0.3);
    width: 100%;
    height: 100%;
    display: none;
    transition: all 128s ease;
    border-radius: .5em;
}

a.map-style:hover .map-style-blue{
    display: block;
    transition: all 128s ease;
}

@media(max-width: 1110px){
    .no-rounded-1110{
        border-radius: 0 0 0 0 !important;
    }
}
#redes{
    ul{
        height: 400px;
        .vigilado-supersubsidio{
            height: 160px !important;
        }
        @media(max-width: 767px) {
            .vigilado-supersubsidio{
                transform: rotate(90deg);
                width: 260px !important;
                height: 60px !important;
            }
        }
    }
    @media(max-width: 767px){
        ul{
            height: inherit !important;
            min-height: 60px !important;
        }
    }
}

#wrapper {
    #menu-top{
        ._menu-effect{
            .active{
                .text-figcaption{
                    color: #FFF;
                    border-radius: 0.4em;
                    background-color: #BE1818;
                }
            }
        }
        ._hover-memutop{
            &:hover {
            text-decoration: none;
            }
            &:hover .text-figcaption{
                color: #FFF;
                border-radius: 0.4em;
                background-color: #BE1818;
            }
            figure{
                padding: 8px 4px;
            }
        }
    }
    #nav{
        nav{
            z-index: 2;
        }
        #navbarsExampleCenteredNav{
            box-shadow: 0 2px 10px rgba(0,0,0,.5);
            z-index: 1;
        }
        ul.main-menu{
            .nav-item{
                .nav-link{
                    padding: 15px 8px;
                }
            }
            // menues
            .nav-item.menu-afiliaciones{
                &:hover{
                    background-color: #5DA9DD;
                }    
            }
            .nav-item.menu-credito-social{
                &:hover{
                    background-color: #FFCB05;
                }
                &:hover a{
                    color: #14438E !important;
                }
            }
            .nav-item.menu-vivienda{
                &:hover{
                    background-color: #B75D0B;
                }   
            }
            .nav-item.menu-vivienda{
                &:hover{
                    background-color: #B75D0B;
                }   
            }
            .nav-item.menu-deportes{
                &:hover{
                    background-color: #BD1622;
                }   
            }
            .nav-item.menu-recreacion-y-turismo{
                &:hover{
                    background-color: #00B6BD;
                }
            }
            .nav-item.menu-proteccion-social{
                &:hover{
                    background-color: #F36F21;
                }
            }
            // .nav-item.menu-viajes-comfenalco{
            //     &:hover{
            //         background-color: $viajes-comfenalco-1;
            //     }
            // }
            .nav-item.menu-agencia-de-empleo{
                &:hover{
                    background-color: $agencia-de-empleo-1;
                }
            }
            .nav-item.menu-educacion{
                &:hover{
                    background-color: $educacion-1;
                }   
            }
            .nav-item.menu-cultura{
                &:hover{
                    background-color: $cultura-1;
                }   
            }
            // active
            .active.menu-afiliaciones{
                background-color: #5DA9DD;
            }
            .active.menu-credito-social{
                background-color: #FFCB05;
                a{
                    color: #14438E !important;
                }
            }
            .active.menu-vivienda{
                background-color: #B75D0B;
            }
            .active.menu-deportes{
                background-color: #BD1622;
            }
            .active.menu-recreacion-y-turismo{
                background-color: #00B6BD;
            }
            .active.menu-proteccion-social{
                background-color: #F36F21;
            }
            // .active.menu-viajes-comfenalco{
            //     background-color: $viajes-comfenalco-1;
            // }
            .active.menu-agencia-de-empleo{
                background-color: $agencia-de-empleo-1;
            }
            .active.menu-educacion{
                background-color: $educacion-1;
            }
            .active.menu-cultura{
                background-color: $cultura-1;
            }
        }
    }
    #main-carousel{
        #carouselExampleControls{
            max-width: 1110px;
            
            .carousel-item-next, 
            .carousel-item-prev, 
            .carousel-item.active {
                display: block !important;
            }
        }

    }
    #box-menu{
        .ball-right:before{
            content: "";
            position: absolute;
            right: 19px;
            bottom: 4px;
            width: 31px;
            height: 31px;
            background-image: url('../img/arrow-right.png');
            background-repeat: round;
        }
    }
    #dot{
        border-top: 5px dotted #575756;
        width: 30% !important;
    }
    #redes{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        width: 60px;
        li{
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
        }
    }
    @media (max-width: 767px) {
        #redes {
            position: relative;
            width: 100%;
            li{
                background-color: transparent;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    #footer{
        background-color: #575756;
        .links-footer{
            li{
                padding-bottom:16px;

                &::before{
                    content: "";
                    line-height: 1em;
                    width: 5px;
                    height: 5px;
                    background-color: #e00717;
                    float: left;
                    margin: 8px 15px 8px 0;
                    border-radius: 50%;      
                }
            }
        }
        .comfenalco-info{
            background-color: #fff;
            figure{
                flex: 1 0 150px;
                text-align: center;
            }
        }
    }

    // MENÚ TOP
    #organizacion{
        p{
            font-size: 13px;
        }
        .line-gray{
            display: block;
            width: 100%;
            height: 8px;
            background-image: url('../img/line-gray.jpg');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
        }
        .date-historica{
            min-height: 127px;
            .w-133{
                max-width: 133px;
            }
            @media (max-width: 767px){
                .w-133{
                    max-width:100%; 
                }
            }
        }
        .date-min-height{
            min-height: 184px;
        }
        #myTab{
            border-bottom: 5px solid #FFCB05;
            .nav-item{
                width: 24.5%;
                .nav-link{
                    justify-content: center;
                    height: 100%;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3,
            .bg-tab-4{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
            }
            .bg-tab-1{
                background-color: #FFCB05;
            }
            .bg-tab-2{
                background-color: #E84E1B;
            }
            .bg-tab-3{
                background-color: #3AA935;
            }
            .bg-tab-4{
                background-color: #36A8E0;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4{
                    font-size: 12px;
                    width: 100%;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid #FFCB05;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(4){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
    }
    
    #afiliado{
        .afi{
            min-height: 280px;
            .opacity-1{
                background-color: rgba(0,0,0,.3);
                padding: 5px 15px;
            }
        }
    }

    #servicios-en-linea{
        .serv{
            min-height: 195px;
            .opacity-2{
                background-color: rgba(0,0,0,.15);
                height: 75px;
            }
            .opacity-22{
                background-color: rgba(0,0,0,.15);
                height: 30px;
                line-height: 30px;
            }
            .opacity-23{
                background-color: rgba(0,0,0,.4);
                height: 45px;
                line-height: 1;
            }
            .group-line{
                height: 75px;
                width: 100%;
            }
        }
    }
    #contacto{
        .line-gray{
            display: block;
            width: 100%;
            height: 8px;
            background-image: url('../img/line-gray.jpg');
            background-repeat: no-repeat;
            background-size: 50%;
            background-position: center;
        }
    }
    @media (max-width: 544px) {
        h4, h3, .h3, .h4 {
            font-size: 18px;
        }
        h6, .h6{
            font-size: 14px;
        }
    }

    #contacto-preguntas-frecuentes{
        #myTab{
            border-bottom: 4px solid #14438E;
            .nav-item{
                // width: 24.5%;
                .nav-link{
                    justify-content: center;
                    height: 100%;
                }
            }
            .bg-tab{
                color: #14438E;
                font-size: 14px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: #ECECEC;
            }
            .bg-tab.active{
                background-color: #14438E;
                color: #ECECEC;
            }
            @media (max-width: 993px){
                .bg-tab{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 890px){
            #wrapper #redes{
                visibility: hidden !important;
                position: relative;
            }
            #myTab{
                flex-direction: column!important;
                border-bottom: 4px solid #14438E;
                .bg-tab{
                    width: 100%;
                }
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(9){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .tab-content{
            .card{
                border:0;
                border-bottom: 1px solid rgba(0,0,0,.125);
                .card-header{
                    padding-top: 20px;
                    background-color: transparent;
                    a{
                        color: #0F2E5B !important;    
                    }
                }
            }
        }
    }
    @media(max-width: 1199px){
        .container{
            width: 100%;
        }
    }

    // MENÚ PRINCIPAL

    /////////////////////////////////////////////////
    // AFILIACIONES
    /////////////////////////////////////////////////
    #afiliaciones{
        #myTab {
            border-bottom: 5px solid #0071BB;
            .nav-item{
                width: 24%;
                .dropdown-menu{
                    padding-top: 15px;
                    background-color: #5DA9DD;
                    .dropdown-item{
                        text-transform: uppercase;
                        color: #FFF;
                        &:hover{
                            background-color: #0071BB;
                        }
                    }
                }
                .active{
                    background-color: #0071BB !important;
                    color: #FFF;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 16px;
                    background-color: #5DA9DD;
                    border-color: transparent;
                }
            }   
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3,
            .bg-tab-4{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: #5DA9DD;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid #0071BB;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(4){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .tab-styles{
            .nav-link{
                color: #FFF;
                border-radius: 0;
                border-bottom: 2px solid rgba(0,0,0,0.15);

                &:last-child{
                    border-bottom: 0;
                }
            }
            #v-pills-tabContent{
                .empresas-tab{
                    .nav-link.active{
                        &:before{
                            position: absolute;
                            width: 0;
                            height: 0;
                            bottom: -25px;
                            content: "";
                            border-left: 25px solid transparent;
                            border-right: 25px solid transparent;
                            border-top: 25px solid #0275d8;
                        }
                    }
                    .nav-link{
                        min-height: 208px;
                        span{
                            max-width: 120px;
                        }
                    }
                    @media (max-width: 767px){
                        .nav-link {
                            min-height: 150px;
                            img{
                                display: none;
                            }
                            span{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        #oorganigrama{
            .nav-link{
                color: #FFF;
                border-radius: 0;
                border-bottom: 2px solid rgba(0,0,0,0.15);

                &:last-child{
                    border-bottom: 0;
                }
            }
            #v-pills-tabContent{
                .nav-link.active{
                    &:before{
                        position: absolute;
                        width: 0;
                        height: 0;
                        bottom: -25px;
                        content: "";
                        border-left: 25px solid transparent;
                        border-right: 25px solid transparent;
                        border-top: 25px solid #0275d8;
                    }
                }
                .nav-link{
                    min-height: 208px;
                    span{
                        max-width: 120px;
                    }
                }
                @media (max-width: 767px){
                    .nav-link {
                        min-height: 150px;
                        img{
                            display: none;
                        }
                        span{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .form-group{
            label{
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Crédito Social
    /////////////////////////////////////////////////
    #credito-social{
        #myTab {
            border-bottom: 5px solid #F8B133;
            .nav-item{
                width: 33%;
                .active{
                    background-color: #F8B133;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: #FFCB05;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid #0071BB;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:last-child{
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: #FFCB05;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: #FFCB05;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Vivienda
    /////////////////////////////////////////////////
    #vivienda{
        #myTab {
            border-bottom: 5px solid #8F4A02;
            .nav-item{
                width: 19.3%;
                .active{
                    background-color: #8F4A02;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 14px;
                }
                .dropdown-menu{
                    padding-top: 15px;
                    background-color: #B75D0B;
                    .dropdown-item{
                        color: #FFF;
                        font-size: 14px;
                        &:hover{
                            background-color: #8F4A02;
                        }
                    }
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3,
            .bg-tab-4,
            .bg-tab-5{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: #B75D0B;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4,.bg-tab-5{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4,.bg-tab-5{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid #8F4A02;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(5){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: #8F4A02;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: #8F4A02;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
        #oproyectosdevivienda{
            #vivienda-styles{
                select{
                    position: relative;
                    background-color: #B75D0B;
                    width: 24.5%;
                    height: 50px;
                    color: #FFF;
                    font-size: 16px;
                    -webkit-appearance: none;
                    -webkit-border-radius: 0px;
                    background-image: url("../img/select.png");
                    background-position: 97% 50%;
                    background-repeat: no-repeat;
                }
                @media(max-width:767px){
                    select{
                        width: 49%;
                    }
                }
                @media(max-width:575px){
                    select{
                        width: 100%;
                    }
                }
                button{
                    background-color: #F8B133;
                    width: 24.5%;
                    color: #FFF;
                    height: 50px;
                    font-size: 16px;
                    vertical-align: top;

                }
                @media(max-width:767px){
                    button{
                        width: 49%;
                    }
                }
                @media(max-width:575px){
                    button{
                        width: 100%;
                    }
                }
                .panel{
                    border: 0;
                    box-shadow: 0 20px 100px -30px rgba(22,1,17,0.2);
                    transition: box-shadow 0.25s cubic-bezier(0.25, 0.8, 0.25, 1),transform 0.25s ease-in-out;
                    img{
                        max-width: 182px;
                        border-radius: .4rem 0 0 .4rem;
                    }
                    .media{
                        min-height: 182px;
                        .media-left{
                            a{

                            }
                            @media(max-width: 991px){
                                a{
                                    width: 100%;
                                    text-align: center;
                                    background-color: #FFF;
                                }
                            }
                        }
                        @media(max-width:991px){
                            .media-left{
                                width: 100%;
                                display: block;
                            }
                        }
                        .media-body{
                            width: calc(100% - 198px);
                            padding: 15px 10px;
                            min-height: 182px;
                            position: relative;
                            a{
                                position: absolute;
                                bottom: 5px;
                                left: 10px;
                            }
                            .info-proyecto{
                                font-size: 13px;
                                position: relative;
                                display: block;
                                width: 100%;
                                p, span{
                                    display: block;
                                    line-height: 13px;
                                    color: #FFF;
                                    margin-bottom: 0;
                                }
                                p{
                                    font-weight: lighter;
                                }
                            }
                        }
                    }
                }
            }
        }
        #nav-dropdown2{
            .nav-link.active{
                background-color: #8F4A02;
                &:before{
                    position: absolute;
                    width: 0;
                    height: 0;
                    bottom: -25px;
                    content: "";
                    border-left: 25px solid transparent;
                    border-right: 25px solid transparent;
                    border-top: 25px solid #8F4A02;
                }
            }
            .nav-link{
                min-height: 208px;
                span{
                    max-width: 120px;
                }
            }
            @media (max-width: 767px){
                .nav-link {
                    min-height: 150px;
                    img{
                        display: none;
                    }
                    span{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    /////////////////////////////////////////////////
    // Deportes
    /////////////////////////////////////////////////
    #deportes{
        #myTab {
            border-bottom: 5px solid #841024;
            .nav-item{
                width: 16.4%;
                .active{
                    background-color: #841024;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 14px;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: #BD1622;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid #841024;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(6){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: #BD1622;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: #BD1622;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Recreación
    /////////////////////////////////////////////////
    #recreacion{
        #myTab {
            border-bottom: 5px solid #038E8E;
            .nav-item{
                width: 14%;
                .active{
                    background-color: #038E8E;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 14px;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3,
            .bg-tab-4,
            .bg-tab-5,
            .bg-tab-6,
            .bg-tab-7{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: #00B6BD;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4,.bg-tab-5,.bg-tab-6,.bg-tab-7{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4,.bg-tab-5,.bg-tab-6,.bg-tab-7{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid #038E8E;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(7){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: #00B6BD;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: #00B6BD;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Protección Social
    /////////////////////////////////////////////////
    #proteccion-social{
        #myTab {
            border-bottom: 5px solid $proteccion-social-2;
            .nav-item{
                width: 19.3%;
                .active{
                    background-color: $proteccion-social-2;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 14px;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3,
            .bg-tab-4,
            .bg-tab-5{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: $proteccion-social-1;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4,.bg-tab-5{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3,.bg-tab-4,.bg-tab-5{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid $proteccion-social-2;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:last-child{
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: $proteccion-social-1;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: $proteccion-social-1;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Viajes comfenalco
    /////////////////////////////////////////////////
    // #viajes-comfenalco{
    //     #myTab {
    //         border-bottom: 5px solid $viajes-comfenalco-2;
    //         .nav-item{
    //             width: 49.5%;
    //             .active{
    //                 background-color: $viajes-comfenalco-2;
    //             }
    //             .nav-link{
    //                 border-top-right-radius: 0;
    //                 border-top-left-radius: 0;
    //             }
    //         }
    //         .bg-tab-1,
    //         .bg-tab-2{
    //             font-size: 18px;
    //             padding-top: 0;
    //             padding-bottom: 0;
    //             min-height: 54px;
    //             display: flex;
    //             align-items: center;
    //             border-bottom: transparent;
    //             text-align: center;
    //             background-color: $viajes-comfenalco-1;
    //         }
    //         @media (max-width: 993px){
    //             .bg-tab-1,.bg-tab-2{
    //                 font-size: 16px;
    //             }
    //         }
    //         @media (max-width: 767px){
    //             .bg-tab-1,.bg-tab-2{
    //                 font-size: 12px;
    //             }
    //         }
    //     }
    //     @media (max-width: 575px){
    //         #myTab{
    //             border-bottom: 4px solid $viajes-comfenalco-2;
    //             .nav-item{
    //                 width: 100%;
    //                 margin-bottom: 2px;
    //                 &:last-child{
    //                     margin-bottom: 0 !important;
    //                 }
    //                 a{
    //                     border: 0;
    //                 }
    //             }
    //         }
    //     }
    //     .form-group{
    //         label{
    //             background-color: $viajes-comfenalco-1;
    //             border-bottom-right-radius: 0;
    //             border-top-right-radius: 0;    
    //             max-height: 38px;
    //         }
    //         input, textarea{
    //             border-bottom-left-radius: 0;
    //             border-top-left-radius: 0;
    //             font-size: 14px;
    //         }
    //         button{
    //             background-color: $viajes-comfenalco-1;
    //             position: absolute;
    //             bottom: 10px;
    //             right: 25px;
    //             padding: 6px 12px;
    //         }
    //     }
    // }
    /////////////////////////////////////////////////
    // Agencia de empleo
    /////////////////////////////////////////////////
    #agencia-de-empleo {
        #myTab {
            border-bottom: 5px solid $agencia-de-empleo-2;
            .nav-item{
                width: 49.5%;
                .active{
                    background-color: $agencia-de-empleo-2;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                }
            }
            .bg-tab-1,
            .bg-tab-2{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: $agencia-de-empleo-1;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid $agencia-de-empleo-2;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:last-child{
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: $agencia-de-empleo-1;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: $agencia-de-empleo-1;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Educación
    /////////////////////////////////////////////////
    #educacion{
        #myTab {
            border-bottom: 5px solid $educacion-2;
            .nav-item{
                width: 24.5%;
                .dropdown-menu{
                    padding-top: 15px;
                    background-color: $educacion-1;
                    .dropdown-item{
                        text-transform: uppercase;
                        color: #FFF;
                        &:hover{
                            background-color: $educacion-2;
                        }
                    }
                }
                .active{
                    background-color: $educacion-2;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 16px;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: $educacion-1;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid $educacion-2;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:last-child{
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: $educacion-1;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: $educacion-1;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
    /////////////////////////////////////////////////
    // Cultura
    /////////////////////////////////////////////////
    #cultura{
        #myTab {
            border-bottom: 5px solid $cultura-2;
            .nav-item{
                width: 33%;
                .active{
                    background-color: $cultura-2;
                }
                .nav-link{
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    height: 100%;
                    font-size: 14px;
                }
            }
            .bg-tab-1,
            .bg-tab-2,
            .bg-tab-3{
                font-size: 18px;
                padding-top: 0;
                padding-bottom: 0;
                min-height: 54px;
                display: flex;
                align-items: center;
                border-bottom: transparent;
                text-align: center;
                background-color: $cultura-1;
            }
            @media (max-width: 993px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 16px;
                }
            }
            @media (max-width: 767px){
                .bg-tab-1,.bg-tab-2,.bg-tab-3{
                    font-size: 12px;
                }
            }
        }
        @media (max-width: 575px){
            #myTab{
                border-bottom: 4px solid $cultura-2;
                .nav-item{
                    width: 100%;
                    margin-bottom: 2px;
                    &:nth-child(3){
                        margin-bottom: 0 !important;
                    }
                    a{
                        border: 0;
                    }
                }
            }
        }
        .form-group{
            label{
                background-color: $cultura-1;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;    
                max-height: 38px;
            }
            input, textarea{
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                font-size: 14px;
            }
            button{
                background-color: $cultura-1;
                position: absolute;
                bottom: 10px;
                right: 25px;
                padding: 6px 12px;
            }
        }
    }
}
@media(min-width: 767px) and (max-width: 992px){
    .form-group{
        label{
            font-size: 12px;
            padding: 8px;
        }
    }
}
@media(max-width: 767px){
    .form-group{
        label{
            border-bottom-left-radius: 0 !important;
            border-top-left-radius: 0 !important;
        }
        input, textarea{
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
            padding: 5px 15px;
        }
    }
}

@media(max-width: 575px){
    .text-justify{
        text-align: left !important;
    }
}
@media(max-width: 400px){
    #menu-top-hide{
        font-size: 11px;
        a{
            padding: 4px !important;
        }
    }
}